:root {
  --brand-p-color: #54585a;
  --brand-color-black: black;
  --brand-color-aqua: #14d9c4;
  --brand-color-bluegreen: #099d8d;
  --brand-color-grisclaro: #b8b8b9;
}
.hero {
  /*width: 100%;
  height: 435px;*/
  width: 333px;
  height: 435px;
  display: flex;
  background-image: url(../IMG/laptop-336378__480.webp);
  flex-direction: column;
  justify-content: flex-start;
 
}
.head {
  width: 100%;
  height: 60px;
  background-color: var(--brand-color-bluegreen);
  color: white;
  opacity: 0.9;
}

h1{
  text-align: center;
}

.navigation {
  width: 333px;
  /*width: 100%;*/
  height: 40px;
  background-color: var(--brand-color-aqua);
  color: white;
  opacity: 0.9;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer {
  width: 333px;
  height: 225px;
  /*width: 100%;
  height: 225px;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.copy {
  justify-content: center;
  
}
.navigation2 {
  display: flex;
  flex-direction: row-reverse;
  
}
.image {
  align-items: center;
  justify-content: space-around;
}
