:root {
  --brand-p-color: #54585a;
  --brand-color-black: black;
  --brand-color-aqua: #14d9c4;
  --brand-color-bluegreen: #099d8d;
  --brand-color-grisclaro: #b8b8b9;
}
.hero {
  width: 20rem;
  height: 25.31rem;
  background-image: url(../IMG/laptop-336378__480.webp);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Rubik", sans-serif;
  padding: 0 0 19.75rem;
  /*width: 100%;
  max-width: 333px;
  min-width: 150px
  width: 100vw;*/
  /*height: 100%;
  height:100vh;*/
  /*justify-content: flex-start;*/
}
.head {
  width: 20rem;
  height: 3.75rem;
  padding: 0.94rem 5rem;
  margin: auto;
  background-color: var(--brand-color-bluegreen);
  color: white;
  opacity: 0.9;
  /*width: 100%;
  height: 60px;*/
}

.navigation1 {
  width: 20rem;
  height: 2.81rem;
  background-color: var(--brand-color-aqua);
  color: white;
  opacity: 0.9;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*width: 100%;
  height: 40px;*/
}
.boxslogan {
  /*box-sizing: border-box;*/
  background: white;
  width: 18.13rem;
  height: 5rem;
  position: relative;
  top: -2.88rem;
  position: relative;
  z-index: 99;
  /*border: 5px solid grey;*/
  line-height: 1.56rem;
  font-size: 1.13rem;
  right: -0.94rem;
  text-align: center;
  padding: 1.87rem 0.94rem;
  color: var(--brand-color-black);
  font-family: "Open Sans", sans-serif; /*hay que cambiarlo por la semibold*/
}
.ContainerEquipo {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.87rem 0.94rem;
}

.SubtitleEquipo {
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.8rem;
  color: var(--brand-color-aqua);
  align-self: center;
}

.HomeParagraph {
  font-family: "Open Sans", sans-serif;
  color: var(--brand-p-color);
  font-size: 1rem;
  line-height: 1.5rem;
  line-height: 1.5;
  text-align: center;
}
.ContainerFortDeb {
  width: 20rem;
  background-color: rgba(184, 184, 185, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center; /* a ver */
  padding: 0rem 0.94rem 2.8rem;
}

.caja {
  background: white;
  width: 1.9rem;
  height: 1.9rem;
  position: relative;
  top: -0.94rem;
  transform: rotate(45deg);
  position: relative;
  z-index: 99;
}

.FortDebTitleStyle {
  font-family: Rubik;
  font-size: 1.4rem;
  line-height: 2.05;
  color: var(--brand-color-bluegreen);
  align-self: center;
}

.DebilidadesStyle {
  margin-top: 1.88rem;
}

.Text-Style-6 {
  font-family: Rubik;
  font-size: 1.5rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: #099d8d;
  /*cambiar color a variable*/
}

.Text-Style-4 {
  font-family: "Open Sans";
  font-size: 1.25rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.ContainerAboutUs {
  width: 20rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutUsTitle {
  margin-bottom: 1.88rem;
  margin-top: 1.88rem;
}

.aboutUsPhoto {
  width: 11.25rem;
  height: 11.25rem;
  border-radius: 0.25rem;
  border: solid 0.31rem rgba(0, 0, 0, 0.08);
  margin-bottom: 0.94rem;
}

.aboutUsDescription {
  margin-left: 0.94rem;
  margin-right: 0.94rem;
}

.aboutUsLinks {
  color: var(--brand-color-bluegreen);
  margin-top: 0.94rem;
  margin-bottom: 2.81rem;
  width: 7.75rem;
  height: 1.88rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.aboutUsLinks a,
a:link,
a:visited,
a:hover,
a:active {
  color: var(--brand-color-bluegreen);
}

.footer {
  width: 20rem;
  height: 15.63rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  line-height: 1.43;
}
.copy {
  width: 10.75rem;
  height: 1.25rem;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: var(--brand-color-grisclaro);
  font-size: 0.88rem;
  line-height: 1.43;
}
.navigation2 {
  width: 7.12rem;
  height: 3.75rem;
  font-family: "Open Sans", sans-serif;
  color: var(--brand-p-color);
  opacity: 0.75;
  font-size: 0.88rem;
  line-height: 1.43;
  text-align: center;
}
.image {
  width: 7.18rem;
  height: 2.81rem;
  display: flex;
  justify-content: space-around;
}
