:root {
  --brand-p-color: #54585a;
  --brand-color-black: black;
  --brand-color-aqua: #14d9c4;
  --brand-color-bluegreen: #099d8d;
  --brand-color-grisclaro: #b8b8b9;
}
.hero {
  width: 100%;
  background-image: url(../IMG/laptop-336378__480.webp);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Rubik", sans-serif;
  padding: 0 0 19.75rem;
}

.head {
  width: 100%;
  height: 3.75rem;
  padding: 0.94rem 5rem;
  margin: auto;
  background-color: var(--brand-color-bluegreen);
  color: white;
  opacity: 0.9;
}

.navigation1 {
  width: 100%;
  height: 2.81rem;
  background-color: var(--brand-color-aqua);
  color: white;
  opacity: 0.9;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.boxslogan {
  background: white;
  width: 18.13rem;
  height: 5rem;
  position: relative;
  top: -2.88rem;
  position: relative;
  z-index: 99;
  /*border: 5px solid grey;*/
  line-height: 1.56rem;
  font-size: 1.13rem;
  right: -0.94rem;
  text-align: center;
  padding: 1.87rem 0.94rem;
  color: var(--brand-color-black);
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.ContainerEquipo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.87rem 0.94rem;
}

.SubtitleEquipo {
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.8rem;
  color: var(--brand-color-aqua);
  align-self: center;
}

.HomeParagraph {
  font-family: "Open Sans", sans-serif;
  color: var(--brand-p-color);
  font-size: 1rem;
  line-height: 1.5rem;
  line-height: 1.5;
  text-align: center;
}
.ContainerFortDeb {
  width: 100%;
  background-color: rgba(184, 184, 185, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center; /* a ver */
  text-align: center;
  padding: 0rem 0.94rem 2.8rem;
}

.caja {
  background: white;
  width: 1.9rem;
  height: 1.9rem;
  position: relative;
  top: -0.94rem;
  transform: rotate(45deg);
  position: relative;
  z-index: 99;
}

.FortDebTitleStyle {
  font-family: Rubik;
  font-size: 1.4rem;
  line-height: 2.05;
  color: var(--brand-color-bluegreen);
  align-self: center;
}

.DebilidadesStyle {
  margin-top: 1.88rem;
}

.Text-Style-6 {
  font-family: Rubik;
  font-size: 1.5rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: var(--brand-color-bluegreen);
}

.Text-Style-4 {
  font-family: "Open Sans";
  font-size: 1.25rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: center;
  color: var(--brand-color-black);
}

.ContainerAboutUs {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TeamMember {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MemberDetails {
  text-align: center;
}

.aboutUsTitle {
  margin-bottom: 1.88rem;
  margin-top: 1.88rem;
}

.aboutUsPhoto {
  width: 11.25rem;
  height: 11.25rem;
  border-radius: 0.25rem;
  border: solid 0.31rem rgba(0, 0, 0, 0.08);
  margin-bottom: 0.94rem;
}

.aboutUsDescription {
  margin-left: 0.94rem;
  margin-right: 0.94rem;
}

.aboutUsLinks {
  color: var(--brand-color-bluegreen);
  padding-top: 0.94rem;
  padding-bottom: 2.81rem;
  width: 7.75rem;
  height: 1.88rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.aboutUsLinks a,
a:link,
a:visited,
a:hover,
a:active {
  color: var(--brand-color-bluegreen);
}

.footer {
  width: 100%;
  height: 15.63rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  line-height: 1.43;
}
.copy {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: var(--brand-color-grisclaro);
  font-size: 0.88rem;
  line-height: 1.43;
}
.navigation2 {
  width: 7.12rem;
  height: 3.75rem;
  font-family: "Open Sans", sans-serif;
  color: var(--brand-p-color);
  opacity: 0.75;
  font-size: 0.88rem;
  line-height: 1.43;
  text-align: center;
}
.image {
  width: 7.18rem;
  height: 2.81rem;
  display: flex;
  justify-content: space-around;
}

/* tablet version */

@media all and (min-width: 48rem) {
  .hero {
    flex-direction: row;
  }

  .head {
    font-size: 1rem;
    line-height: 1.88rem;
    display: flex;
    flex-direction: flex-start;
  }

  .navigation1 {
    background-color: var(--brand-color-bluegreen);
    height: 3.75rem;
    display: flex;
    justify-content: space-around;
    padding-right: 1.88rem;
  }

  .boxslogan {
    width: 27.56rem;
    transform: translate();
    top: -80px;
    text-align: left;
    padding-left: 1.88rem;
    padding-bottom: 0, 94rem;
    padding-top: 0.94rem;
    padding-right: 1.88rem;
    opacity: 0.8;
  }

  .ContainerEquipo {
    width: 100%;
    padding: 1.87rem 2.81rem;
  }

  .ContainerFortDeb {
    flex-direction: row;
    justify-content: space-around;
    position: relative;
  }

  .Fortalezas {
    width: 50%;
    padding-right: 1.88rem;
    display: flex;
    flex-direction: column;
  }
  .Debilidades {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .caja {
    position: absolute;
    align-self: center;
    display: flex;
    flex-direction: column;
  }

  .ContainerAboutUs {
    width: 100%;
  }

  .aboutUsTitle {
    margin-top: 2.81rem;
  }

  .TeamMember {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 2.75rem;
  }

  .TeamMember.order2 {
    flex-direction: row-reverse;
  }

  .MemberDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1.93rem;
  }

  .MemberDetails.order2 {
    align-items: flex-end;
    padding-right: 1.93rem;
    text-align: right;
  }

  .aboutUsDescription {
    text-align: left;
    margin: 0;
  }
  .aboutUsPhoto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 12.81rem;
    height: 12.81rem;
    margin-bottom: 15px;
  }

  .footer {
    flex-direction: row-reverse;
    align-items: space-between;
  }

  .navigation2 {
    order: -1;
    text-align: right;
    line-height: 2.14rem;
    /* width: 9.38rem;
    height: 6.25rem;*/
  }
  .copylogo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2.81rem;
  }
  .copy {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: var(--brand-color-grisclaro);
    font-size: 0.88rem;
    line-height: 1.43;
  }
  .image {
    display: flex;
    justify-content: space-around;
  }
}

/*Desktop Version*/

@media all and (min-width: 75rem) {
  .ContainerEquipo {
    width: 100%;
    padding-top: 2.81rem;
    padding-bottom: 3.75rem;
    padding-left: 18.69rem;
    padding-right: 18.75rem;
  }
  .ContainerFortDeb {
    padding-top: 2.81rem;
    padding-bottom: 3.75rem;
    padding-left: 8.62rem;
    padding-right: 8.68rem;
  }
  .Fortalezas {
    padding-right: 2.81rem;
  }
  .ContainerAboutUs {
    width: 100%;
  }

  .TeamMember {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8.62rem;
    padding-bottom: 3.75rem;
  }

  .MemberDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2.81rem;
  }
  .aboutUsDescription {
    text-align: left;
    margin: 0;
  }
  .aboutUsPhoto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 12.81rem;
    height: 12.81rem;
    margin-bottom: 15px;
  }
}
