.container {
    width: 500px;
    height: 500px;
    background-image: url("./IMG/laptop-336378__480.webp");
}
.head {
    background-color: #099d8d;
    color: white;
    opacity: 0.9;
}
.menu {
    background-color: #14d9c4;
    color: white;
    opacity: 0.9;
}