
  <div class="hero">
    <div class="fixed">
      <header class="head">
        <h1>404</h1>
      </header>
      <nav class="navigation1">
        <li class="equipo"><a href="#team-area">EQUIPO</a></li>
        <li class="quienessomos"><a href="#team-about">QUIENES SOMOS</a></li>
        <li class="contacto"><a href="contact.html"></a>CONTACTO</a></li>
      </nav>
    </div>
  </div>

  <div class="boxslogan">
    <p class="slogan"></p> Esta no es la página que buscabas...pero sí tu equipo</p>
  </div>