// colors
$paragraphgray: #54585a;
$brandcolorblack: black;
$brandcoloraqua: #14d9c4;
$brandcolorbluegreen: #099d8d;
$brandcolorlightgray: #b8b8b9;
$brandcolorwhite: white;

//fonts
$fontrubik: "Rubik", sans-serif;
$fontopensans: "Open Sans", sans-serif;
