.Text-Style-6 {
  font-family: Rubik;
  font-size: 1.5rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: $brandcolorbluegreen;
}

.Text-Style-4 {
  font-family: "Open Sans";
  font-size: 1.25rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: center;
  color: $brandcolorblack;
}

.aboutUsTitle {
  margin-bottom: 1.88rem;
  margin-top: 1.88rem;
  font-family: rubik;
  font-weight: 500;
  line-height: 1.88;
  color: $brandcolorbluegreen;
  font-size: 1.5rem;
}

.ContainerAboutUs {
  width: 100%;
  background-color: $brandcolorwhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0rem 0.94rem 2.8rem;
}

.TeamMember {
  display: flex;
  flex-direction: column;
  align-items: center;
  &.MemberDetails {
    text-align: center;
  }
}

.aboutUsPhoto {
  width: 11.25rem;
  height: 11.25rem;
  border-radius: 0.25rem;
  border: solid 0.31rem rgba(0, 0, 0, 0.08);
  margin-bottom: 0.94rem;
}

.aboutUsDescription {
  margin-left: 0.94rem;
  margin-right: 0.94rem;
}

.aboutUsLinks {
  color: $brandcolorbluegreen;
  padding-top: 0.94rem;
  padding-bottom: 2.81rem;
  height: 1.88rem;
  display: flex;
  flex-direction: row;
  justify-content: center;

  & span {
    margin: 0 10px;
  }
  .link:after {
    position: absolute;
    margin-top: -5px;
    margin-left: 5px;
  }
  & a,
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: $brandcolorbluegreen;
  }
}

@media all and (min-width: 48rem) {
  .ContainerAboutUs {
    width: 100%;
  }

  .aboutUsTitle {
    margin-top: 2.81rem;
  }

  .TeamMember {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 2.75rem;
  }

  .TeamMember.order2 {
    flex-direction: row-reverse;
  }

  .MemberDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1.93rem;
  }

  .MemberDetails.order2 {
    align-items: flex-end;
    padding-right: 1.93rem;
    text-align: right;
  }

  .aboutUsDescription {
    text-align: left;
    margin: 0;
  }
  .aboutUsPhoto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 12.81rem;
    height: 12.81rem;
    margin-bottom: 15px;
  }
}

@media all and (min-width: 75rem) {
  .ContainerAboutUs {
    width: 100%;
  }

  .TeamMember {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8.62rem;
    padding-bottom: 3.75rem;
  }

  .MemberDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2.81rem;
  }
  .aboutUsDescription {
    text-align: left;
    margin: 0;
  }
  .aboutUsPhoto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 12.81rem;
    height: 12.81rem;
    margin-bottom: 15px;
  }
}
