.contact {
  &--hero {
    width: 100%;
    background-image: url("../images/contact-us.png");
    background-size: cover;
    background-position: center center;
    align-items: center;
    text-align: center;
    font-family: "Rubik", sans-serif;
    padding: 0 0 19.75rem;
  }
}

.contact--title {
  font-family: $fontrubik;
  font-size: 1.5 rem;
  text-align: center;
  font-weight: 500;
  line-height: 2.81rem;
  color: $brandcolorbluegreen;
  padding-top: 1.88rem;
}
.contact--paragraph {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.94rem;

  @media all and (min-width: 768px) {
    padding: 0 10.19rem;
  }
  @media all and (min-width: 1200px) {
    padding: 0 18.69rem;
  }

  &__text {
    font-family: $fontopensans;
    color: $paragraphgray;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  &__required {
    font-family: $fontopensans;
    color: $paragraphgray;
    font-size: 0.75rem;
    text-align: center;

    &-symbol {
      color: $brandcoloraqua;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  padding: 3.63rem 0.94rem 0 0.94rem;
  position: relative;

  @media all and (min-width: 768px) {
    padding: 3.63rem 10.19rem 0 10.19rem;
  }
  @media all and (min-width: 1200px) {
    padding: 3.63rem 18.69rem 0 18.69rem;
  }

  &--fieldName {
    font-family: $fontopensans;
    color: $paragraphgray;
    font-size: 0.75rem;
  }
  &--fieldSpace {
    height: 2.81rem;
    box-shadow: inset $brandcolorlightgray;
    margin-top: 0.44rem;
    margin-bottom: 0.81rem;
    padding-left: 15px;
  }

  &--fieldSpaceComment {
    box-shadow: inset $brandcolorlightgray;
    margin-top: 0.44rem;
    margin-bottom: 0.81rem;
    padding: 0.69rem 0 0 0;
    padding-left: 15px;
  }
  &--button {
    width: 100%;
    background-color: $brandcolorbluegreen;
    height: 2.81rem;
    border-radius: 0.25rem;
    font-family: $fontopensans;
    color: $brandcolorwhite;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    border-style: none;
    margin: 1.87rem 0 3.75rem 0;
    @media all and (min-width: 48rem) {
      width: 12.88rem;
      align-self: flex-end;
    }
    @media all and (min-width: 75rem) {
      width: 17.38rem;
    }
  }

  ::placeholder {
    font-family: $fontopensans;
    color: $paragraphgray;
    font-size: 0.75rem;
    padding: 0.69rem 0 0 0;
  }
}
