.hero {
  width: 100%;
  background-image: url("/assets/images/team-404.png");
  background-size: cover;
  background-position: center center;
  align-items: center;
  text-align: center;
  font-family: "Rubik", sans-serif;
  padding: 0 0 19.75rem;
}

.fixed {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  z-index: 100;
  color: white;
  width: 100%;
}
.header-height {
  padding-top: 6.25rem;
  margin-top: -6.25rem;
}

.navigation1 a:visited,
.navigation1 a:hover,
.navigation1 a:link,
.navigation1 a:active {
  color: $brandcolorwhite;
  text-decoration: none;
}

/*.navigation1 a{
  color: white;
}
.navigation1 a:hover{
  color: red;
}
.navigation1 a:visited{
  color: green;
}*/
.head {
  height: 3.75rem;
  padding: 0.94rem 5rem;
  background-color: $brandcolorbluegreen;
  opacity: 0.9;
  /*position: fixed;
  top: 0;
  z-index: 100;*/
}

.navigation1 {
  height: 2.81rem;
  background-color: $brandcoloraqua;
  opacity: 0.9;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  /*position: fixed;
  z-index: 100;*/
}
.equipo {
  list-style-type: none;
}
.boxslogan {
  background: white;
  width: 18.13rem;
  height: 5rem;
  position: relative;
  top: -2.88rem;
  position: relative;
  z-index: 99;
  /*border: 5px solid grey;*/
  line-height: 1.56rem;
  font-size: 1.13rem;
  right: -0.94rem;
  text-align: center;
  padding: 1.87rem 0.94rem;
  color: var(--brand-color-black);
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
/* tablet version */

@media all and (min-width: 48rem) {
  .hero {
    height: 421px;
  }
  .fixed {
    flex-direction: row;
  }
  .head {
    font-size: 1rem;
    line-height: 1.88rem;
    display: flex;
    flex-direction: flex-start;
  }
  .header-height {
    padding-top: 3.438rem;
    margin-top: -3.125rem;
  }
  .navigation1 {
    background-color: $brandcolorbluegreen;
    height: 3.75rem;
    display: flex;
    justify-content: flex-end;
    padding-right: 1.88rem;
    flex-grow: 1;
  }

  .navigation1 li {
    padding: 0 20px;
  }

  .boxslogan {
    width: 27.56rem;
    transform: translate();
    top: -80px;
    text-align: left;
    padding-left: 1.88rem;
    padding-bottom: 0, 94rem;
    padding-top: 0.94rem;
    padding-right: 1.88rem;
    opacity: 0.8;
  }
}
/*Desktop Version*/
@media all and (min-width: 75rem) {
  .hero {
    background-image: url("/assets/images/team.png");
    background-size: auto;
  }
}
