.ContainerEquipo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.87rem 0.94rem;
}

.SubtitleEquipo {
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.8rem;
  color: $brandcoloraqua;
  align-self: center;
}

.HomeParagraph {
  font-family: "Open Sans", sans-serif;
  color: $paragraphgray;
  font-size: 1rem;
  line-height: 1.5rem;
  line-height: 1.5;
  text-align: center;
}
.ContainerFortDeb {
  width: 100%;
  background-color: rgba(184, 184, 185, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0rem 0.94rem 2.8rem;
}

.caja {
  background: white;
  width: 1.9rem;
  height: 1.9rem;
  position: relative;
  top: -0.94rem;
  transform: rotate(45deg);
  position: relative;
  z-index: 99;
}

.FortDebTitleStyle {
  font-family: Rubik;
  font-size: 1.4rem;
  line-height: 2.05;
  color: $brandcolorbluegreen;
  align-self: center;
}

.DebilidadesStyle {
  margin-top: 1.88rem;
}
