.ContainerEquipo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.87rem 0.94rem;
}

.SubtitleEquipo {
  font-family: $fontrubik;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.8rem;
  color: $brandcoloraqua;
  align-self: center;
}

.HomeParagraph {
  font-family: $fontopensans;
  color: $paragraphgray;
  font-size: 1rem;
  line-height: 1.5rem;
  line-height: 1.5;
  text-align: center;
  word-spacing: 50%;
}
.ContainerFortDeb {
  width: 100%;
  background-color: rgba(184, 184, 185, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0rem 0.94rem 2.8rem;
}

.caja {
  background: $brandcolorwhite;
  width: 1.9rem;
  height: 1.9rem;
  position: relative;
  top: -0.94rem;
  transform: rotate(45deg);
  position: relative;
  z-index: 99;
}

.FortDebTitleStyle {
  font-family: $fontrubik;
  font-size: 1.4rem;
  line-height: 2.05;
  color: $brandcolorbluegreen;
  align-self: center;
}
.DebilidadesStyle {
  padding-top: 1.88rem;
}

@media all and (min-width: 48rem) {
  .ContainerEquipo {
    width: 100%;
    padding: 0 2.81rem 2.75rem 2.81rem;
  }

  .ContainerFortDeb {
    position: relative;
    padding: 2.81rem 2.81rem 3.75rem 2.81rem;
    display: grid;
    grid-template-columns: repeat (2, 1fr);
    grid-template-rows: repeat (2, 1fr);
    grid-template:
      "strenghtTitle weaknessTitle"
      "StrenghtParagraph weakParagraph";
  }
  .StrenghtTitle {
    grid-area: strenghtTitle;
  }
  .StrenghtParagraph {
    grid-area: StrenghtParagraph;
  }
  .DebilidadesStyle {
    grid-area: weaknessTitle;
    padding-top: 0;
  }
  .WeakParagraph {
    grid-area: weakParagraph;
  }
  .Fortalezas {
    padding-right: 0.94rem;
  }
  .Debilidades {
    padding-left: 0.94rem;
  }
  .caja {
    position: absolute;
    left: 50%;
    right: 50%;
  }
}

@media all and (min-width: 75rem) {
  .ContainerEquipo {
    width: 100%;
    padding: 2.81rem 18.75rem 3.75rem 18.69rem;
  }
  .ContainerFortDeb {
    padding: 2.81rem 8.68rem 3.75rem 8.62rem;
  }
  .Fortalezas {
    padding-right: 1.4rem;
  }
  .Debilidades {
    padding-left: 1.4rem;
  }
}
